.CategoryCart {
    height: 300px;
    text-align: center;
}

.CategoryCart__img {
    display: block;
    height: 250px;
    width: 100%;
    background: lightblue;
}
        
.CategoryCart__title {
    margin-top: 10px;
    font-size: 18px;
}