.basket {
    display: flex;
    justify-content: space-between;
    &__tape {
        width:1100px ;
        padding: 0 20px 0 0;
        flex-basis:90%;
        .productBox {
            margin: 10px 0;
        }
        
    }
}

.navigationRow {
    padding: 10px 0 ;
    display: flex;
}

.item {
    display: block;
    margin: 0 4px;
    font-size: 22px;
    &.curent {
        font-weight: 900;
    }
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 870px) {
    .basket {
        flex-direction: column-reverse;
        align-items: center;
        &__tape {
            width:100% ;         
        }
    }
}

