*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{
	list-style: none;
	list-style-type: none;
    display: block;
    padding: 0;
    margin: 0;
}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}


/* customize */

a {
    text-decoration: none; 
}

/* containers */

.wrapper {
    min-height: 100vh;
    background: white;
    display: grid;
    grid-template-areas: 
    "nav main main";
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;  
}

.navigation__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* btns */

.btn__submit {
	padding: 7px 20px 9px;
	border-radius: 10px;
	background: rgba(70, 148, 166, 1);
	color: white;
}

.btn__cancel {
    padding: 7px 20px 9px;
	border-radius: 10px;
	background: rgba(237, 22, 95, 1);
	color: white;
}

.btn__form {
	padding: 13px 20px 15px;
	border-radius: 10px;
	background: rgba(70, 148, 166, 1);
	color: white;
	font-size: 16px;
}

.btn__wrapper {
    display: grid;
    grid-gap: 10px;
}

.btn__unfollowed {
    display: block;
    padding: 7px 12px;
    border-radius: 12px;
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
.btn__unfollowed span {
    color: #151515;
    font-weight: 700;
}
.btn__unfollowed div {
    display: block;
    width: 20px;
    height: 20px;
    background: url(./assets/img/buttons/Vector.svg) no-repeat ;
    background-position: center;
    margin-right: 5px;
}

.btn__unfollowed:active {
    transform:scale(1.1) ;
}



/* Forms */

.form__page {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px 0 ;
}

.form__wrapper {
    max-width: 400px;
    margin-bottom: 60px;
}

.form__title {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 15px;
}

.form__offer {
    font-size: 18px;
    margin-bottom: 60px;
    line-height: 1.5em;
}

.form__subtitle {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 32px;
}

.form__form {
    display: flex;
    flex-direction: column;
}

.form__text {
    margin-bottom: 15px;
}

.form__input {
    border: 1px solid rgb(10, 10, 10);
    border-radius: 5px;
    max-width: 400px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.form__textarea {
    height: 100px;
    max-width: 700px;
    padding: 10px 15px;
    margin-bottom: 10px;
    resize: none;
    border: 1px solid black;
    border-radius: 5px;

}

/* Category */

.сategory__title {
    color: #277A8C;
    font-size: 32px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* navigationRow */

.navigationRow {

}





